<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <label>Medical Name</label>
        <%= f.text_field :name, class: 'form-control' %>
        <%= display_error_message(@errors, :name, 'Medical Store Name') %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Owner Name</label>
        <%= f.text_field :owner, class: 'form-control' %>
        <%= display_error_message(@errors, :owner, 'Medical Store Owner Name') %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <label>Address</label>
        <%= f.text_field :address, class: 'form-control' %>
        <%= display_error_message(@errors, :address, 'Address') %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Contact no.</label>
        <%= f.text_field :contact_no, class: 'form-control' %>
        <%= display_error_message(@errors, :contact_no, 'Contact No') %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <label>GST No.</label>
        <%= f.text_field :gst_no, class: 'form-control' %>
        <%= display_error_message(@errors, :gst_no, 'GST No') %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Pancard No.</label>
        <%= f.text_field :pancard_no, class: 'form-control' %>
        <%= display_error_message(@errors, :pancard_no, 'Pancard No') %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <label>Status</label>
        <%= f.select(:status, MedicalStore.statuses.keys, {prompt: 'Select status'}, {:class => 'form-control'}) %>
        <%= display_error_message(@errors, :status, 'Medical Store Status') %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Hospital Name</label>
        <%= text_field_tag :hospital_name, @current_hospital.name, disabled: true ,class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
