<section class="content-header">
  <h1>
    Patients
    <small>It includes all patients</small>
  </h1>
</section><br/>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Patient records</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>Patient Name</th>
            <th>Hospital Name</th>
            <th>Appointment Status</th>
            <th>disease</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          <% if @patients.present? %>
            <% @patients.each do |patient| %>
              <tr>
                <td><%= patient.first_name.to_s+" "+patient.last_name.to_s %></td>
                <td><%= patient.hospital.name %></td>
                <td><%= appointment_status_data(patient).html_safe %></td>
                <td><%= patient.disease_found %></td>
                <td><%= patient.created_at.strftime('%d-%m-%Y')%></td>
                <td>
                  <% if patient.appointment_status == 'pending'%>
                    <%= link_to 'Prescribe Medicine', prescribe_medicine_patient_path(patient.id), class: 'btn btn-link' %>
                  <% elsif patient.appointment_status == 'bill_generate' || patient.appointment_status == 'presc_ready' %>
                    <%= link_to 'View Prescription', prsc_list_patient_path(patient.id), class: 'btn btn-link' %>

                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td>No Patients records available.</td><td></td><td></td><td></td><td></td>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
