<section class="content-header">
  <h1>
    Prescriptions
    <small>It includes all patients prescriptions</small>
  </h1>
</section><br/>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Prescription records</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>Prescription No.</th>
            <th>Patient Name</th>
            <th>Hospital Name</th>
            <th>Date</th>
            <th>Action</th>
          </tr>

          <% if @prescriptions.present? %>
            <% @prescriptions.each do |prescription| %>
              <tr>
                <td><%= prescription.prescription_num %></td>
                <td><%= prescription.patient.first_name %></td>
                <td><%= prescription.patient.hospital.name %></td>
                <td><%= prescription.created_at.strftime('%d-%m-%Y')%></td>
                <td>
                  <%= link_to 'View', prsc_list_patient_path(prescription.patient_id), class: 'btn btn-link' %>
                  <% if prescription.patient.appointment_status == "bill_generate" %>
                    / <%= link_to 'Generate Bill', generate_bill_patient_path(id: prescription.patient_id, preseq: prescription.id), class: 'btn btn-link' %> </td>
                  <% end %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td>No prescription records available.</td><td></td><td></td><td></td><td></td>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
