<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag current_doctor.photo_url, class: 'img-circle', alt: 'User Image'%>
        </div>
        <div class="pull-left info">
          <p><%= current_doctor.full_name %></p>
          <p><small><%= current_doctor.education %></small></p>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
          <%= link_to dashboards_path do %>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <% end %>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-user-md"></i> <span>Doctor</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to doctors_path do %>
                <i class="fa fa-angle-right"></i> Profile
              <% end %>
            </li>
            <li>
              <%= link_to hospitals_path do %>
                <i class="fa fa-angle-right"></i> Hospitals
              <% end %>
            </li>
            <li>
              <%= link_to new_hospital_path do %>
                <i class="fa fa-angle-right"></i> Add Hospital
              <% end %>
            </li>
            <li>
              <%= link_to new_patient_path do %>
                <i class="fa fa-angle-right"></i> Add New Patient
              <% end %>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-bed"></i> <span> Patient</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to patients_path do %>
                <i class="fa fa-angle-right"></i> Patients
              <% end %>
            </li>
            <li>
              <%= link_to new_patient_path do %>
                <i class="fa fa-angle-right"></i> New Patient Data
              <% end %>
            </li>
            <li>
              <%= link_to patients_path(today: true) do %>
                <i class="fa fa-angle-right"></i> Today’s Patient
              <% end %>
            </li>
          </ul>
        </li>

        <li>
          <%= link_to hospitals_path do %>
            <i class="fa fa-hospital-o"></i> <span>Hospital</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <i class="fa fa-book"></i> <span>Report's</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <i class="fa fa-comments"></i> <span>Blog's</span>
          <% end %>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
